.detailsContainer {
    justify-content: flex-start;
    flex-direction: column;
    &__favourite {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    &__img {
        max-width: 40vw;
        height: auto;
    }
}
.isNotfavouriteIcon {
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.isNotfavouriteIcon:hover {
    color: #FFD700!important;
    transition: color 0.3s ease;
}

.carouselTemplate {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    &__textValues {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 70%;
    }
    &__numberValues {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

.carouselContainer {
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .carouselTemplate {
        flex-wrap: wrap;
        &__textValues {
            max-width: unset;
        }
    }
}