.breedContainer {
    justify-content: center;
    flex-direction: column;
    .catCard {
        cursor: pointer;
        flex-direction: row;
        gap: 15px;
        &__img {
            cursor: pointer;
            max-width: 250px;
            max-height: 250px;
            padding: 5px;
            border-radius: 10px;
            border: 5px solid var(--brand-color);
        }
        &__desc {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            text-align: start;
        }
    }
}
.breedDialog {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    &__img {
        cursor: pointer;
        width: 250px;
        height: 250px;
        padding: 5px;
        border-radius: 10px;
        border: 5px solid var(--brand-color);
    }
}

@media screen and (max-width: 700px) {
    .breedContainer {
        max-width: 85vw;
        .catCard {
            flex-direction: column!important;
            align-items: center;
            &__img {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .catCard {
        @include transition-scale($scale: 1.02);
    }
}